SERVICE_NAME=SugarcaneAgenticRAG

GOOGLE_API_KEY=...
LANGFUSE_SECRET_KEY=...
LANGFUSE_PUBLIC_KEY=...
LANGFUSE_BASE_URL=...
GENOME_BACKEND_API_URL=http://localhost:8000

QDRANT_URL=localhost:6334

SEARXNG_HOST=http://localhost:8080
LOG_LEVEL=debug

DOCLING_ALLOW_EXTERNAL_PLUGINS=1
HUGGING_FACE_TOKENIZER=avsolatorio/GIST-small-Embedding-v0

LANGGRAPH_POSTGRES_URL=postgresql://langgraph:langgraph@localhost:5432/sugarcane

